<!-- <div class="container mt-5">
    <div class="card text-center" style="color: green; padding: 20px;">
        <h1>You are Admin</h1>
    </div> -->
    <iframe [class.hideLogoBar]="hideLogoBar" title="allure" class="h-screen w-full" src="https://app.powerbi.com/view?r=eyJrIjoiMWIzZTQ4OTctZTY1My00NjBkLTg2MjgtZmY1OGZlZDcwZDc4IiwidCI6IjJlYzQ1YjIwLWM1YjYtNDJiZS1hYjI4LWE1YWFiYzIwZDc2YyJ9" frameborder="0" allowFullScreen="true"></iframe>
    <!-- <div #powerbiContainer style="width: 100%; height: 600px;"></div> -->            
    <!-- <iframe title="allure" width="1140" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=ffdef3d8-739e-484a-a05d-693d2a9f8b26&autoAuth=true&ctid=2ec45b20-c5b6-42be-ab28-a5aabc20d76c" frameborder="0" allowFullScreen="true"></iframe> -->
    <!-- <div class="dashboard-container"><div class="powerbi-container"></div></div> -->
<!-- </div> -->

